<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Currículo</title>
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/layout.css">
    <link rel="stylesheet" href="static/css/componentes.css">
</head>
<body>
<header>
    <h1>Currículo</h1>
    <ul class="menu">
        <li><a href="index.html">Início</a></li>
        <li><a href="projetos.html">Projetos</a></li>
        <li><a href="curriculo.html">Currículo</a></li>
    </ul>
</header>

<main>
    <section>
        <h2>Visualização</h2>
        <iframe src="static/pdf/Curriculo Service Desk TI.pdf" width="100%" height="600px"></iframe>
        <p>
            <a href="static/pdf/Curriculo Service Desk TI.pdf" download>📥 Baixar PDF</a>
        </p>
    </section>
</main>
</body>
</html>
