<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Curriculo Gabriel</title>
    <<img src="../static/img_index/garfield.png" height="3521" width="3788"/>link rel="stylesheet" href="/css/style.css" />
</head>
<body style="background: url('/img_index/wallpaper.jpg') no-repeat center center fixed;
             background-size: cover;
             backdrop-filter: blur(5px);">
<header>
    <h1>Currículo</h1>
    <ul class="menu">
        <li><a href="/index">Início</a></li>
        <li><a href="/projeto">Projetos</a></li>
        <li><a href="/curriculo">Currículo</a></li>
    </ul>
</header>

<main>
    <section>
        <h2>Visualização</h2>
        <iframe src="/pdf/Curriculo Service Desk TI.pdf" width="100%" height="600px"></iframe>
        <p>
            <a href="/pdf/Curriculo Service Desk TI.pdf" download>📥 Baixar PDF</a>
        </p>
    </section>
</main>
</body>
</html>
