<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Curriculo Gabriel</title>
    <link rel="icon" type="image/png" href="/img_index/Curiculo-icon.png"/>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/projetos.css">
</head>
<body style="background: url('/img_index/wallpaper.jpg') no-repeat center center fixed;
             background-size: cover;
             backdrop-filter: blur(5px);">
<header>
    <h1>Gabriel Fernández</h1>
    <ul class="menu">
        <li><a href="/index">Início</a></li>
        <li><a href="/projeto">Projetos</a></li>
        <li><a href="/curriculo">Currículo</a></li>
    </ul>
</header>

<main>
    <section id="projetos-detalhados">
        <h2>Projetos</h2>
        <div class="projeto">
            <img src="/img_projetos/Apresentacao.jpeg" alt="Projeto 1">
            <div class="projeto-info">
                <h3>Apresentaçao do Nutriscan</h3>
                <p>Foi uma apresentação na qual eu e meu grupo demonstramos o nosso produto.
                    O objetivo do projeto foi focado na saúde e no cuidado pessoal.
                    Utilizamos o método de escaneamento por foto dos produtos para facilitar a exibição de informações nutricionais,
                    auxiliando o usuário em sua dieta ou em problemas de saúde, como alergias.
                    O professor aprovou a ideia e manifestou o desejo de que ela seja implementada futuramente.</p>
                <p>Tecnologias utilizadas: Documentacao em world, canva, Figama</p>

                <p>------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            </div>
            <img src="/img_projetos/Placar%20judo.jpg" alt="Projeto 1">
            <div class="projeto-info">
                <h3>Placar eletronico</h3>
                <p>O placar me foi solicitado pela minha academia de judô,
                    pois eles utilizavam um modelo físico. Para apoiar e auxiliar minha associação,
                    desenvolvi um modelo Web utilizando Java, JavaScript (JS), CSS e HTML.
                    O foco principal do desenvolvimento foi a facilidade de manuseio e a praticidade.
                    Atualmente, ele ainda não está disponível em uma versão online, pois priorizei o ambiente Localhost.
                    Contudo, pretendo futuramente retornar ao projeto e atualizá-lo,
                    adicionando mais funcionalidades e acessibilidade. </p>
                <p>tecnoligas utizliadas: Java,JS,Html,Css </p>
                <p>Link:<a href="https://github.com/bielxcesar/Placar_Judo_SI">www.github.com/bielxcesar/Placar_Judo_SI</a></p>
                <p>------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            </div>
            <img src="/img_projetos/projeto%20cogumelo.jpg" alt="Projeto 1">
            <div class="projeto-info">
                <h3>Projeto de IA (Identificacao de cogumelo venenoso e comestivel)</h3>
                <p>Projeto de Machine Learning em Python, onde utilizei bibliotecas como Pandas, Sklearn e Numpy para desenvolver um modelo capaz de identificar se um cogumelo é venenoso ou comestível com base em seu odor. O modelo foi treinado e testado com um conjunto de dados público, e mostra que classificar apenas pelo odor não e o suficiente para termos uma super precissão. Este projeto me permitiu aprofundar meus conhecimentos em ciência de dados e aprendizado de máquina, além de aprimorar minhas habilidades em programação Python.</p>
                <p>Tecnologias utilizadas: Python, Pandas,SVM,Matriz de confusao,  Sklearn, Numpy.</p>
                <p>Link:<a href="https://github.com/bielxcesar/poster_Summit_SVM_cogumelo-Odor">www.github.com/bielxcesar/SVM_Cogumelo_odor</a></p>
                <p>------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            </div>
        </div>
    </section>
</main>
</body>
</html>
